html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft JhengHei UI Light', Helvetica;
  letter-spacing: 1px;
  font-size: 16px;
  padding-bottom: 20px
}

.main-banner {
  background-image: url(groceryshopping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 50px;
  height: 750px;
}

.navbar {
  margin: 0;
  padding-top: 10px;
  padding-bottom:10px;
}

.logo {
  position: relative;
  top: -14px;
}

.items, .delivery-address {
  padding: 3px;
}

.detail-header {
  display: flex;
  justify-content: space-between;
}

.top-logo {
  text-align: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.top-nav-left, .top-nav-right {
  display: inline-flex;
}

.signup-outer, .signin-outer {
  background-color: steelblue;
  padding: 20px;
  text-align: center;
}

.signup-field, .signin-field {
  padding-bottom: 3px;
}

.contents-container {
  padding: 10px;
}

.top-nav-button {
  margin: 2px;
}

#map_canvas {
  height: 500px;
  width: 100%;
}

.icon-bar {
  background-color: #bbb;
}

.information {
  margin-top: 150px
}
#nickname {
    width: 20em;
}
#chat-container {
    display: none;
}

#users span {
    float: left;
    clear: both;
    padding: 10px;
}

.user {
    width: 75%;
    background-color: #333;
    margin: 5px;
    padding: 10px;
    color: #fff;
}

.user:hover{
    background-color: #ccc;
}

#chat, #private-chat {
    height: 80%;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #333;
}

#pm-col{
    display: none;
}

.msg {
    float: left;
    clear: both;
}

.pMsg{
    float: left;
    clear: both;
    color: #2E2EFE;
    font-style: italic;
}

#new-message, #new-pm {
    width: 100%;
}