<!doctype html>
<html>
  <head>
    <title>Crowd Cart Chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="style.css">
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }*/
      body { font: 13px Helvetica, Arial; }
      #chat-form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 50%; }
      #chat-form-input { border: 0; padding: 10px; width: 100%; margin-right: .5%; }
      #chat-form-button { width: 10%; background-color: #3D9970 ; border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #username {width: 20em;}
    </style>
  </head>
  <body>
    <header class="navbar navbar-static-top" style="background-color:#3D9970">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#cc-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand"><img src="assets/crowdcartlogov2.png" class="img-responsive logo"></a>
          </div>
          <nav class="collapse navbar-collapse" id="cc-navbar">
            <ul class="nav navbar-nav navbar-right" ng-if="hasSession">
              <li style="color:red">
                <a href="#/mylists" style="font-weight:bold; color:darkblue">My Lists</a>
              </li>
              <li>
                <a href="#/alllists" style="font-weight:bold; color:darkblue">All Lists</a>
              </li>
              <li>
                <a href="#/myjobs" style="font-weight:bold; color:darkblue">My Jobs</a>
              </li>
               <li>
                <a href="/livechat" style="font-weight:bold; color:darkblue">Live Chat</a>
              </li>
              <li>
                <a ng-click="signout()" href="#/logout" style="font-weight:bold; color:darkblue">Logout</a>
              </li>
            </ul>
          </nav>
        </div>
    </header>
  <div class="container" id="username-container">
        <h1>Choose a Username!</h1>
        <span id="nick-error"></span>
        <form id="choose-username">
            <input type="text" id="username"></input>
        </form>
    </div>
 <div class="container" id="chat-container">
        <div class="row">
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4" id="chat-col">
                <div class="row" id="chat">
                </div>
    <div class="row" id="messages">
    <form action="" id="chat-form">
      <input id="m" autocomplete="off"  /><button id="chat-form-button" >Send</button>
    </form>
    </div>
  </div>
  </div>
  </div>

    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('#chat-form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });

    $('#choose-username').submit(function(e){
    e.preventDefault();
    var nick = $('#username').val();
    socket.emit('choose username', nick, function(err){
      if (err) {
        $('#nick-error').text(err);
        $('#username').val('');
      } else {
        $('#username-container').hide();
        $('#chat-container').show();
      }
    });
  });
    socket.on('messages', function(data){
      displayMsg(data.msg, data.nick)
    });

      function displayMsg(msg, nick){
      var html = "<span class='messages'><strong>" + nick + ":</strong> " + msg;
      $('#chat-form').append(html);
    }
    </script>
  </body>
</html>
